<!-- JS -->
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/jed.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment.js') }}"></script>
<script src="{{ url_for('static', filename='js/locale/fr.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
<script src="{{ url_for('static', filename='js/jsoneditor.js') }}"></script>
<script src="{{ url_for('static', filename='js/vis.js') }}"></script>
<script>
  //Store the url root of the auth module.
  var root = "{{root}}";
  //Draw the langauge selector.
  var languages = {{ config["SUPPORTED_LANGUAGES"]|tojson|safe }};
  var currentLang = "{{ g.get('language', None)|safe }}";
  var index = languages.indexOf( currentLang );
  var nextLang = index == languages.length-1 ? languages[0] : languages[index+1];
  var nextLangHref = window.location.href.replace( '/' + currentLang + '/', '/' + nextLang + '/' );

  $('.lang-sel').html( "<a class='lang " + currentLang + "' href='" + nextLangHref + "'>" +
                       nextLang.toUpperCase() + "</a>" );
  $(".lang-sel").attr( 'title', '{{_("Choose a language")}}' ); //Translatable tool tip.

</script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
