{% extends 'base.html' %}
{% block body %}

<div class="top-bar row">
	<div class="tab-title less-padding-col">
		{{_('Access Levels') }}
	</div>
    <div class="search-bar">
    </div>
</div>
<div class="row">
	<div class="col-xs-12 less-padding-col">
		<div class="box chartBox">
			<div class="chartBox__heading">
				{{ _('Access Network') }}
			</div>
			<div class="chartBox__content access-network-container" >
				<div id='role-vis' class="col-xs-12"></div>
                <div class='access-network-form col-xs-3'></div>
                <div class='selection-details col-xs-12'>

                </div>
			</div>

		</div>
	</div>
</div>

{% endblock %}
{% block pageJS %}
<script>
var user = {{user|safe}};
$('.navbar-nav li').removeClass('active');
$('.navbar-nav__roles').addClass('active');
drawVisForm();
</script>
{% endblock %}
