{% extends 'base.html' %}
{% block body %}
<div class="top-bar row">
	<div class="tab-title less-padding-col">
		{{_('User Manager') }}
	</div>
    <div class="search-bar">
    </div>
</div>
<div class="row">
	<div class="col-xs-12 less-padding-col">
		<div class="box chartBox">
			<div class="chartBox__heading">
				{{ _('User Details') }}
                <a href='#' class='pull-right advanced' onclick='showAdvanced(); return false;'>Advanced</a>
			</div>
			<div class="chartBox__content" >
			    <div class="intro">
				</div>
				<div class="user-editor">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="breaker"></div>
<div class="row">
	<div class="col-xs-12 less-padding-col">
		<div class="box chartBox">
			<div class="chartBox__heading">
				{{ _('Users') }}
			</div>
			<div class="chartBox__content" >
			    <div class="intro">
				</div>
                <div class='table-toolbar'></div>
				<div id='user-table' class="user-table">
                    <table></table>
                </div>
			</div>
		</div>
	</div>
</div>
<div class="breaker"></div>
{% endblock %}
{% block pageJS %}
<script>
var user = {{user|safe}};

$('.navbar-nav li').removeClass('active');
$('.navbar-nav__users').addClass('active');
drawUserTable();
drawUserEditor("");
function showAdvanced(){
    console.log('Advanced');
    $('.personal-editor').toggleClass('col-md-6 col-md-4');
    $('.data-editor').toggle();
}
</script>
{% endblock %}
