body{
	padding: 50px 0px 0px;
	color: $textGrey;
    background: $lightGrey;
}

.breaker{
	height: 30px;
}

.row{
	margin-left: 0px;
	margin-right: 0px;
}

.page-content {
    min-height: 85vh;
}

.chartBox{
	padding: 0px;
}

.chartBox__heading{
	border-bottom: 1px solid #D7D7D7;
	color: #666;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1em;
	font-size: 18px;
	padding: 7px 10px 4px;
	display: table;
	width: 100%;
}

.chartBox__content{
	display: block;
	padding: 10px 10px;
    min-height: 260px
}

.chartBox__type-selector{
	display: table-cell;
	vertical-align: middle;
	font-size: 14px;
}

.box {
    background: #FFF;
    border-radius: 5px;
    border: solid 1px #E2E2E2;
    overflow: hidden;
    margin-bottom: 10px;
}

// NAVBAR FORMATING
.navbar{

	background-color: $blue;
	margin-bottom: 0;
	border: none;

	.navbar-flag {
		float: left;
		margin-right: 10px;
		height: 22px;
		margin: 0px 10px 0px -10px;
		border-radius: 3px;
		border: 1px solid #01719F;
	}

    .navbar-header{
        color: #FFF;
    }
	.navbar-nav{

		a,
		a:focus,
		a:hover{
			background-color:$blue;
			color: white;
		}

		.active a,
		.active a:focus{
			background-color:$highlight;
		}
	}

	#menu-collapse{
		float: right;
	}

	.navbar-brand span{
		float: left;
		max-height: 40px;
		margin-right: 10px;
	}

	.navbar-toggle{
		border: #FFF 2px solid;
		.icon-bar{
			background: #FFF;
		}
	}
}

.tab-title{ 
	display: inline-block;
	font-size: 24px;
	line-height: 42px;
	padding: 0 15px;
}

.top-bar{
    margin-bottom: 10px;
}

//Footer formating
footer{
	background: $darkGrey;
	color: $lightGrey;
	padding: 20px;
	min-height: 10vh;
}

.footer__label{
	text-align: right;
}

.footer__title{
	font-size: 16px;
}

//Langauge selector

.lang-sel{
  float:left;
  margin: 15px -10px 15px 10px;
}

.lang{
  color: white;
  border: white solid 1px;
  border-radius: 3px;
  padding: 3px;
}

.lang:hover{
  background: $highlight;
  color: white;
  text-decoration: none;
  border: 1px solid $highlight;
}

@media screen and (max-width: 751px){
  .lang-sel{
    margin: 0px 0px 15px;
    text-align: center;
    float: none;
  }

}

//Login page

body.blue{
  background: $blue;
  padding: 0;
}

.login-title{
  color: white;
  font-size: 40px; 
  margin: 40px 0 0 40px;
}

.login-box-holder{
    width: 250px;
    margin: 15vh auto 0;
}

.login{ 

    label{
        display: block;
        padding-left: 20px;
    }

    input.text{
        display: block;
        background: $lightGrey;
        color: $textGrey;
        padding: 10px;
        border-radius: 5px;
        width: 100%;
        border: 1px solid #ddd;
    }

    .form-group{
        margin-bottom: 20px;
        width: 100%;
        display: block;
    }

    .submit{
        background: $highlight;
        color: #FFF;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        font-size: 18px;
        margin: 20px 0 10px;
    }

    .chartBox__heading{
        padding: 7px 5px 4px 10px;
    }

    .lang-sel{ 
        margin: 0px;  
    }

    .lang{
        position: relative;
        top: -3px;
        right: -2px;
        background: $blue;
        color: #FFF;
        font-size: 14px;
        border: 1px solid $blue;
    }

    .lang:hover{
      background: $highlight;
      color: white;
      text-decoration: none;
      border: 1px solid $highlight;
    }
}

.bootstrap-table .table.table-no-bordered > thead > tr > th, 
.bootstrap-table .table.table-no-bordered > tbody > tr > td{
    border-right: none;
    border-left: none;
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th{
    background: $lightGrey;
    border-top: 1px solid #ddd;
    border-radius: 0px;
}

.user-table table tr {
    cursor: pointer;
}

.input-group{
    width: 100%;
    margin-bottom: 5px;
    input, select{
        padding: 3px 5px;
    }
    label{
        padding: 7px 10px 3px 0px;
    }

    @media screen and (min-width: 1083px){
        text-align: right;
    }

    label.access,
    label.data{
        text-align: left;
        margin-top: 5px;
    }
}

.form-section {
    position: relative;
    border: #ddd solid 1px;
    padding: 0px 10px 10px;
    top: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.section-title {
    font-weight: bold;
    position: relative;
    top: -10px;
    background: white;
    display: inline-block;
    padding: 0px 10px;
}

.user-editor{ 
    button{
        margin-top: 10px;
    }

    .top-part{
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .submit-form{
        padding: 10px 15px;
        color: #FFF;
        background: $blue;
        font-size: 16px;
        font-weight: bold;
        margin: 20px 40px 30px;
        width: 200px;
    }

    .submit-form:active{
        background: $highlight;
    }
}

.user-editor input[readonly] {
    background: white;
    border: none;
    margin-top: 5px;
}

.loading{
    background: url('/static/img/loading.gif');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.table-custom-toolbar{
    margin: 10px;
    color: white;

    .btn:hover, .btn:focus,{
        color: white;
    }
}

.blue{
    background: $blue;
}

.highlight{
    background: $highlight;
}

#role-vis{
    height: 400px;
}
